<div class="col-md-4 no-padding" style="max-width: 25%;">
    <%= consultorio.first_photo? ? image_tag(consultorio.first_photo_url(), class: "img-thumbnail") : image_tag("https://dnuba.s3.amazonaws.com/uploads/bank_image/achivo/44/user.jpeg", class: "img-not")%>
</div>

<div class="col-md-4 no-padding" style="max-width: 25%;">
    <%= consultorio.sub_photo? ? image_tag(consultorio.sub_photo_url(), class: "img-thumbnail") : image_tag("https://dnuba.s3.amazonaws.com/uploads/bank_image/achivo/44/user.jpeg", class: "img-not")%>
</div>

<div class="col-md-4 no-padding" style="max-width: 25%;">
	<img src="https://st2.depositphotos.com/1017986/11089/i/950/depositphotos_110891284-stock-photo-group-of-happy-medics-or.jpg" alt="">
</div>

<div class="col-md-4 no-padding" style="max-width: 25%;">
	<img src="https://st2.depositphotos.com/1017986/11089/i/950/depositphotos_110891284-stock-photo-group-of-happy-medics-or.jpg" alt="">
</div>