<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="" >
    <% if action_name == "buscador" %>
      <% if @categorias == "Salud" %>
          <img src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/401/logo_reemp_blanco.png" class="logo-img">
      <% elsif @categorias == "Mascotas" %>
          <img src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/401/logo_reemp_blanco.png" class="logo-img">
      <% elsif @categorias == "Construcción" %>
          <img src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/401/logo_reemp_blanco.png" class="logo-img">
      <% end -%>
    <% else %>
      <img src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/374/1.png" class="logo-img">
    <% end -%>
  </a>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      </li>

    </ul>

    <span class="navbar-text">
      <% if user_signed_in? %>
        <% usuario = current_user.names + current_user.last_names %>
        <%= link_to "Reemper", reeper_home_path , class: "btn-logins" %>
        <%= link_to reeper_home_path , class: "btn-logins" do %>
          <i class="fas fa-user-circle"></i> <%= usuario %>
        <% end -%>
      <% else %>
        <button class="btn-logins" data-toggle="modal" data-target="#exampleModalCenter">Ingresar</button>
      <% end -%>
    </span>
  </div>
</nav>

<script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&language=en&key=AIzaSyBCTHCpTg9kTvg7uBcO0wYvpA7_Tw8Lkxg"></script>
<style type="text/css" media="screen">

  .btn-logins{
    background: inherit;
    border-radius: 55px;
    border: 1px solid #22D3B1;
    color: #ffff !important;
    padding: 10px;
    margin-right: 20px;
  }

  .btn-user{
    background: inherit;
    border-radius: 55px;
    border: 1px solid #22D3B1;
    color: #ffff !important;
    padding: 10px;
    margin-right: 20px;
  }

  .btn-reemper{
    margin-right: 3px;
  }

  .logo-img{
    width: 151px;
  }

  .navbar{
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: 84px;
  }

  .submit1{
    background: #210554;
    color: #fff;
    border: initial;
    padding: 8px;
    border-radius: 25px;
    position: absolute;
    top: -41px;
    right: -38px;
  }

</style>

<script type="text/javascript">

      var input = document.getElementById('autocomplete');
      var autocomplete = new google.maps.places.Autocomplete(input,{types: ['(cities)']});
      google.maps.event.addListener(autocomplete, 'place_changed', function(){
         var place = autocomplete.getPlace();
         console.log(place);
         console.log(place.name);
         //document.getElementById("place_id").value = place.place_id;
         document.getElementById("city").value = place.name;
      })
</script>