<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="" style="padding-left: 60px;">
    <img src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/401/logo_reemp_blanco.png" class="logo-img">
  </a>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      </li>
    </ul>

    <span class="navbar-text" style="padding-right: 40px;">
      <% if user_signed_in? %>
        <div class="row">
          <%= link_to "Reemper", reeper_home_path , class: "btn-logins" %>

          <div class="dropdown">
            <button class="btn-user dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" >
             <i class="fas fa-user-circle icon-user" ></i> <%= current_user.names %>
            </button>
            <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button">Action</button>
              <button class="dropdown-item" type="button">Another action</button>
              <button class="dropdown-item" type="button">Something else here</button>
            </div>
          </div>
        </div>

      <% else %>
        <button class="btn-logins" data-toggle="modal" data-target="#exampleModalCenter">Ingresar</button>
      <% end -%>
    </span>
  </div>
</nav>

<script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&language=en&key=AIzaSyBCTHCpTg9kTvg7uBcO0wYvpA7_Tw8Lkxg"></script>
<style type="text/css" media="screen">

  .btn-logins{
    background: inherit;
    border-radius: 55px;
    border: 2px solid #22D3B1;
    color: #ffff !important;
    padding: 10px 50px 10px 50px;
    margin-right: 20px;
  }

  .icon-user{
    font-size: 20px;
    margin-right: 4px;
  }

  .btn-user{
    background: inherit;
    border-radius: 55px;
    color: #ffff !important;
    padding: 10px;
    margin-right: 20px;
    border: initial;
  }

  .btn-reemper{
    margin-right: 3px;
  }

  .logo-img{
    width: 200px;
  }

  .navbar{
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: 84px;
  }

  .submit1{
    background: #210554;
    color: #fff;
    border: initial;
    padding: 8px;
    border-radius: 25px;
    position: absolute;
    top: -41px;
    right: -38px;
  }

</style>


<script type="text/javascript">
  $('#dropdownMenu2').on('show.bs.dropdown', function () {
  console.log("asdasdasd");
})
</script>