<div class="container">
    <div class="row row-style">
		<div class="col-md-3 no-padding">
		    <img class="img-xs rounded-circle" src="https://dnuba.s3.amazonaws.com/uploads/bank_image/achivo/44/user.jpeg" id="reemper-img" />
		</div> 

		<div class="col-md-5 no-padding-right">
		    <h6 id="name" style="margin-bottom: 5px;"></h6>   
		    <p style="margin-bottom: 0px;" id="cirugia"></p>
		    <p style="margin-bottom: 0px;"><i class="fas fa-star good" ></i><i class="fas fa-star "></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></p>
		    <p style="margin-bottom: 0px;" class="ubica">a 1,2k de tu ubicacion</p>

			<%# if user_signed_in?  %>
	          <%# if @reemper.user.id == current_user.id  %>
	          <%# else %>
	            <%# link_to new_contac_reemper_path(:reemper => @reemper.id), remote: true, class: "btn-contac" do%>
	            	<!--
	            		<i class="fas fa-comments"></i>
	            	-->
	            <%# end -%>
	          <%# end -%>

	          
	          <%# else %>
	          <!--
	            <button class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenter" style="float: right;">
	              <i class="fas fa-sign-in-alt"></i>
	            </button>
	          -->
	        <%# end -%>
		</div> 

		<div class="col-md-4 no-padding-right">
		    <h6><i class="fab fa-instagram icon-inst"></i> <small class="ubica"> @estiven </small></h6>
			<button class="btn-services">Sitio Web <i class="fas fa-angle-right"></i> </button>
		</div>

		<div class="col-md-12 no-padding espacios">

		 <div class="row row-style">

			 <div class="col-md-3 no-padding-left">
			 	<button class="btn-services">Contacto</button>
			 </div>

			 <div class="col-md-7 no-padding-left">
			 	<button class="btn-services">Servicios y Precios</button>
			 </div>
		 </div>

		</div> 

		<div class="col-md-12 no-padding">
		  <hr>
		</div>

		<div class="col-md-12 conten-img no-padding ">
		    <div class="row row-style">
		                
		    <div class="col-md-4 no-padding" style="max-width: 25%;">
		        <img src="https://st2.depositphotos.com/1017986/11089/i/950/depositphotos_110891284-stock-photo-group-of-happy-medics-or.jpg" alt="">
		    </div>

		    <div class="col-md-4 no-padding" style="max-width: 25%;">
		        <img src="https://st2.depositphotos.com/1017986/11089/i/950/depositphotos_110891284-stock-photo-group-of-happy-medics-or.jpg" alt="">
		    </div>

		    <div class="col-md-4 no-padding" style="max-width: 25%;">
		        <img src="https://st2.depositphotos.com/1017986/11089/i/950/depositphotos_110891284-stock-photo-group-of-happy-medics-or.jpg" alt="">
		    </div>

		   	<div class="col-md-4 no-padding" style="max-width: 25%;">
		        <img src="https://st2.depositphotos.com/1017986/11089/i/950/depositphotos_110891284-stock-photo-group-of-happy-medics-or.jpg" alt="">
		    </div>

		    </div>
		</div>

		<div class="col-md-12 no-padding">
		    <hr>
		</div>

		<div class="col-md-12 show-info" style="padding: 10px;"> 
		  <p id="biograpy" style="margin-bottom: 0px;" ></p>
		  <label  style="float: right;" id="btn-show">Mas Sobre Mi</label>
		</div>

		<div class="col-md-12 text-center">
			<button type="" class="btn-cita" id="cita-btn">Citar</button>
		</div>

		<ul class="nav nav-pills col-md-12 no-padding" id="pills-tab" role="tablist">
			<li class="nav-item">
		    	<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Reseñas</a>
		    </li>

		    <li class="nav-item" disabled>
			    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false" >(<%= @valoration.count %> opiniones)</a>
		    </li>
		</ul>

		<div class="tab-content col-md-12 no-padding" id="pills-tabContent">
		    <div class="panel tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" style="    padding: 0px;">     
		    <div id="valoration"></div>
		    </div>
		    <div class="panel tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
		</div>


	</div>
</div>
