<div class="row row-user-info animated fadeIn">
  <i class="fas fa-arrow-left" id="back"></i>
  <div class="col-md-12">
    <strong class="title-cate">Mas Sobre Mi</strong>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
  </div>

  <div class="col-md-12">
    <strong class="title-cate">Estudios</strong>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
  </div>

  <div class="col-md-12">
    <strong class="title-cate">Experiencia</strong>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
  </div>

</div>

  <div class="col-md-12 text-center" style="margin-top: 15px;">
    <button type="" class="btn-cita">Citar</button>
  </div>



<script type="text/javascript">
  $("#back").click(function(event) {
    $("#info-reemp").removeClass('none').addClass('show animated fadeIn');
    $(".remplace").addClass('none');

  if($('#info-reemp').css('display') != 'show')
      console.log($('#info-reemp'));
    { 

    }
  });
</script>