<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<div class="fondo">
	<nav>
		<div class="row" style="padding-top: 35px">
			<div class="col-md-9 logo" >
					<a href="" ><img src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/369/Screenshot_from_2019-01-16_18-54-24.png"></a>
				</div>
			<div class="col-md-3 ingresar-parent">
					<a href="" class="ingresar_login">Ingresar</a>
				</div>
		</div>
		
		
		<div class="row">
			<div class="col-md-9 info" >
					<h3 style="margin-left: 20px;font-weight: bold;font-size: 35px;">Selecciona la categoría <br> de tu interés</h3><br><br>
					<div class="col-md-12">
						<a href="" class="ingresar link_salud" style="margin-right: 10px;">Salud</a>
						<a href="" class="ingresar link_mascotas">Mascotas</a><br>
					</div>
					<div class="col-md-12" style="margin-top: 20px">
						<a href="" class="ingresar link_construccion" style="margin-right: 10px;">Construcción</a>
						<a href="" class="ingresar link_legal">Legal</a>
					</div>
			</div>
			
		</div>
		
		
	</nav>
</div>



<style type="text/css">
      a:hover
      {
      	text-decoration: none;
      }
       .ingresar:hover
      {
      	color:white;
      }
        .ingresar_login:hover
      {
      	color:#A60A71;
      }

      body
      {
      	font-family: "Poppins", sans-serif;
      }
	 .info
	 {
	 	margin-left: 160px;
        margin-top: 90px;
	 }

	.logo a
	{
		margin-left: 130px;
		margin-top: 20px;

	}
	.logo img
	{
		width: 210px;
		    margin-left: 31px;
	}

	.ingresar-parent
	{
		margin-top: 35px;
	} 
	
	.ingresar_login
	{
    
    padding: 5px 30px;
    border-radius: 20px;
    font-size: 20px;
    color: #A60A71;
	background: white;
    

	}

	.ingresar
	{
    
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 25px;
   


	}

	.link_salud
	{
		color: white;
		background: #01BAFE;
				
	}
	.link_mascotas
	{
		color: white;
		background: #DE12A1;
				
	}
	.link_construccion
	{
		color: white;
		background: #FD9E04;
				
	}
	.link_legal
	{
		color: white;
		background: #9B25DE;
				
	}

	.fondo
	{
		
		background: url('https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/368/WEB_REEMP-01.png')no-repeat center top;
 	    background-size: cover;
  		width: 100%;
  		height: 700px;
	}
</style>