<div class="container" style="margin-top: 10px; height: 579px;">
  <div class="row">
    <div class="col-md-5 show-reempers">
      <legend style="margin-top: 17px;">
        Reempers <div id="stats"></div>
      </legend>
        <div class="col-dm-12 no-padding" id="hits"></div>
        <div class="col-dm-12 no-padding" id="hits1"></div><br>

      <div class="col-md-12" id="results">
        <div class="col-md-12" id="pagination"></div>
      </div>

    </div>

    <div class="col-md-7 no-padding-right" id="map-reemper">
        <legend style="margin-top: 3px;">Mapa</legend>
        <div id="map"></div>
    </div>
<!--
    <div class="card col-md-4">
        <legend>Buscadores</legend>

        <label>Buscar Reemper</label>
        <div id="search-box"></div><br>

        <label>Categorias</label>
        <div id="autocomplete"></div>
    </div>
-->


    <!-- Button trigger modal -->
    <!-- Modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" id="btn-show" data-target="#myModal" style="display: none;">
      Launch demo modal
    </button>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p id="p"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div> 
  </div>                             
</div> 
<br><br>                        
 



    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.1.0/themes/reset-min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />


    <script src="https://cdn.jsdelivr.net/npm/scriptjs@2.5.9/dist/script.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@3.32.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@3.0.0"></script>




  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.1.0/themes/algolia.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/selectize@0.12.6/dist/css/selectize.css">


    <div id="autocomplete"></div>
    <div id="hits"></div>


  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/selectize@0.12.6/dist/js/standalone/selectize.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/algoliasearch@3.30.0/dist/algoliasearchLite.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@beta"></script>
</body>

</html>


<style type="text/css" media="screen">

em {
  background: cyan;
  font-style: normal;
}

.ais-Hits-item{
  width: calc(103% - 1rem);
  margin-bottom: 10px;
  border: initial !important;
  padding: 5px !important;
  box-shadow: initial !important;
}

.ais-GeoSearch-marker{
  cursor: pointer;
}

.show-reempers{
  box-shadow: -2px -4px 10px #dcdcfe, 2px 7px 10px #dcdcfe;
  margin-bottom: 10px;
}

.sticky {
    position: fixed;
    top: 0;
    margin-left: 10px;
    left: 821px;
    width: 356px;
}


</style>

<script type="text/javascript">
  window.onscroll = function() {myFunction()};

  var header = document.getElementById("map-reemper");
  var sticky = header.offsetTop;

  function myFunction() {
    if (window.pageYOffset > sticky) {
      header.classList.add("sticky");
    } else {
      header.classList.remove("sticky");
    }
  }
</script>

<script type="text/javascript">

$(document).on('turbolinks:load',function() {

    /* global instantsearch algoliasearch $script */

  $script('https://maps.googleapis.com/maps/api/js?v=weekly&key=<%= ENV["GOOGLE_API"] %>', function() {
    const search = instantsearch({
      searchClient: algoliasearch('DJ3JJMGZSP', 'ddbd8bb0730c9044fca8d4ddf2bb5152'),
      indexName: 'Reemper_production',
      routing: true
    });
    /*
    const autocomplete = instantsearch.connectors.connectAutocomplete(
    ({ indices, refine, widgetParams }, isFirstRendering) => {
      const { container, onSelectChange } = widgetParams;

      if (isFirstRendering) {
        container.html('<select id="ais-autocomplete"></select>');

        container.find('select').selectize({
          options: [],
          valueField: 'category.name',
          labelField: 'name',
          placeholder: 'Categorias',
          highlight: false,
          onType: refine,
          onBlur() {
            refine(this.getValue());
          },
          score() {
            return function() {
              return 1;
            };
          },
            onChange(value) {
              onSelectChange(value);
              refine(value);
            },
          });

          return;
        }

        const [select] = container.find('select');

        indices.forEach(index => {
          select.selectize.clearOptions();
          index.results.hits.forEach(h => select.selectize.addOption(h));
          select.selectize.refreshOptions(select.selectize.isOpen);
        });
      }
    );


    search.addWidget(
      autocomplete({
        container: $('#autocomplete'),
        onSelectChange(value) {
          search.helper.setQuery(value).search();
        },
      })
    );


    search.addWidget(
      instantsearch.widgets.searchBox({
        container: '#search-box',
        placeholder: 'Reempers',
        showSubmit: false,
        cssClasses: {
          input: 'form-control',
        }
      })
    );
    */


    search.addWidget(
      instantsearch.widgets.configure({
        aroundLatLngViaIP: true,
        hitsPerPage: 12
        //filters: 'category_id = <%= @category %>'
      })
    );

    search.addWidget(
      instantsearch.widgets.stats({
        container: '#stats'
      })
    );

    var hitTemplate =
      '<div class="card col-sm-12 no-padding card-reemper">'+
        '<div class="card-body" style="padding-left: 17px; padding-right: 17px;">'+
          '<div class="col-md-3 no-padding-left">'+
            '<img class="img-xs rounded-circle" src="https://juliosuarezanturi.files.wordpress.com/2012/10/josefaerrazuriz.jpg" />'+
          '</div>'+
          '<div class="col-md-9 no-padding-right">'+
            '<h4 style="font-size: 16px;"> {{#helpers.highlight}}{ "attribute": "user_id.name" }{{/helpers.highlight}} <i class="fas fa-check-circle"></i> </h4>'+
            '<label style="font-size: 14px;">{{#helpers.highlight}}{ "attribute": "profession" }{{/helpers.highlight}}</label><br />'+
            '<span><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></span><br>'+
            '<b> <i class="fas fa-map-marker-alt"></i> {{#helpers.highlight}}{ "attribute": "city" }{{/helpers.highlight}} </b>'+
          '</div>'+

          '<div class="col-md-12 no-padding" style="margin-top: 10px;">'+
            '<p>'+
              '{{#helpers.highlight}}{ "attribute": "biography" }{{/helpers.highlight}}'+
            '</p>'+
          '</div>'+

        '</div>'+
      '</div>';

    var noResultsTemplate = '<div class="text-center">No se encontraron resultados con <strong>{{query}}</strong>.</div>';

    search.addWidget(
      instantsearch.widgets.hits({
        container: '#hits',
        templates: {
          empty: noResultsTemplate,
          item: hitTemplate
        }
      })
    );

    search.addWidget(
      instantsearch.widgets.pagination({
        container: '#pagination',
        scrollTo: '#results',
        cssClasses: {
          list: 'pagination',
          selectedItem: 'active'
        }
      })
    );


   
  /*
    search.addWidget(
      instantsearch.widgets.refinementList({
        container: '#room_types',
        attribute: 'name',
        restrictSearchableAttributes: [
          'title',
          'author'
        ],
        sortBy: ['name:asc'],
        cssClasses: {
          item: ['col-sm-3']
        },
      })
    );
  */
  /*
  search.addWidget(
    instantsearch.widgets.geoSearch({
      container: '#maps',
      googleReference: window.google,
      templates: {
        HTMLMarker: `
          <span class="marker">
            {{ city }} - {{ airport_id }}
          </span>
        `,
      },
    })
  );
  */
    var hello = 'hola'


    search.addWidget(
      instantsearch.widgets.geoSearch({
        container: '#map',
        googleReference: window.google,
        enableRefineControl: false,
        enableRefineOnMapMove: true,
        streetViewControl: true,
        initialZoom: 10, 
        templates: {
          HTMLMarker: '<img src="//platform.docplanner.com/img/general/icons/map-pin-calendar-small-shadow.png?v=5" alt="">',
          reset: 'Limpiar Busqueda',
        },
        mapOptions: {
          streetViewControl: true,
        },
        customHTMLMarker: {
          createOptions(item) {
            return {
              anchor: {
                x: 0,
                y: 0,
              },
            };
          },
          events: {
            click({ event, item, marker, map }) {
              $("#btn-show").click();
              document.getElementById("p").innerHTML = item.category.name;
            },
          },
        },
      }),
    );


    /*
    const widget = instantsearch.widgets.geoSearch({ 
      container: string|HTMLElement, 
      googleReference: object, 
      initialZoom: [number], 
      initialPosition: 6.2411950345475145, 
      paddingBoundingBox: [Padding], 
      templates: [GeoSearchTemplates], 
      cssClasses: [GeoSearchCSSClasses], 
      mapOptions: [object], 
      builtInMarker: [BuiltInMarkerOptions], 
      customHTMLMarker: [CustomHTMLMarkerOptionsboolean], 
      enableClearMapRefinement: [boolean], 
      enableRefineControl: [boolean], 
      enableRefineOnMapMove: [boolean], 
      enableGeolocationWithIP: [boolean], 
      position: 6.2411950345475145, 
      radius: [number], 
      precision: [number], 
      mapOptions: {
          mapTypeId: window.google.maps.MapTypeId.SATELLITE,
      },
      transformItems: [function], 
    }: GeoSearchWidgetOptions);

    search.addWidget(widget);

  */

      search.start();
    });
  });
</script>



<style type="text/css" media="screen">
  /* GENERAL
// ------------------------- */

.card-reemper{
    box-shadow: -2px -4px 10px #dcdcfe, 2px 7px 10px #dcdcfe;
    margin-top: 10px; 
    margin-bottom: 10px;
}

.aisdemo--left-column {
  height: 400px;
}

.aisdemo--right-column {
  padding-right: 0;
  padding-left: 0;
}

.img-xs{
    width: 86px;
    height: 104px;
    border-radius: initial !important;
    margin-right: 10px;
}

.picture{
  height: 10px;
}
/* HEADER
// ------------------------- */
.aisdemo-navbar {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #dce0e0;
  position: relative;
}
.aisdemo-navbar .is-logo {
  display: inline-block;
  position: relative;
  top: -8px;
  left: 16px;
}
.aisdemo-navbar .logo {
  display: inline-block;
  padding: 14px 22px;
  font-size: 40px;
  line-height: 1;
  font-family: Courier;
  color: #ff585b;
  border-right: 1px solid #dce0e0;
}
.aisdemo-navbar .fa-search {
  font-size: 30px;
  position: absolute;
  top: 17px;
  left: 140px;
  color: #dce0e0;
}
.aisdemo-navbar .ais-SearchBox {
  position: absolute;
  top: 0;
  left: 180px;
  height: 100%;
  width: 33%;
}
.aisdemo-navbar .ais-SearchBox-form {
  position: absolute;
  top: 15px;
  width: 300px;
  height: 40px;
  border: 0;
  box-shadow: none;
}
.aisdemo-navbar .ais-SearchBox-input {
  position: absolute;
  border: 0;
  box-shadow: none;
}
.aisdemo-navbar .ais-SearchBox-input:focus {
  outline: none;
  box-shadow: none;
}
.aisdemo-navbar .ais-SearchBox-reset {
  position: absolute;
  top: calc(50% - 25px / 2);
  right: 13px;
  fill: #bfc7d8;
}

/* FILTERS
// ------------------------- */
.aisdemo-filters .aisdemo-filter {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #dce0e0;
}

.aisdemo-filters .aisdemo-filter-title {
  font-size: 1em;
  font-weight: normal;
  padding-top: 9px;
  padding-left: 30px;
}

.aisdemo-filters .date,
.aisdemo-filters #guests select {
  font-size: 0.8em;
  padding: 8px 10px;
  border: 1px solid #dce0e0;
}

.aisdemo-filters #guests select {
  width: 100%;
  padding-right: 20px;
  border-radius: 0;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.aisdemo-filters #guests select:focus {
  outline: none;
}

.aisdemo-filters .guests-caret::before {
  line-height: 1;
  position: absolute;
  top: 0;
  right: 20px;
  width: 2em;
  padding-top: 0.8em;
  content: '\25bc';
  text-align: center;
  pointer-events: none;
  color: #82888a;
}

em{
  background-color: red !important;
}

.aisdemo-filters #room_types .ais-RefinementList-count {
  display: none;
}

.aisdemo-filters #room_types .ais-RefinementList-item {
  display: inline-block;
  cursor: pointer;
}
.aisdemo-filters #room_types .ais-RefinementList-item label {
  font-size: 0.8em;
  font-weight: normal;
  box-sizing: border-box;
  width: 100%;
  padding: 9px 10px 7px;
  background: #edefed;
}

.aisdemo-filters #room_types .ais-RefinementList-checkbox {
  position: relative;
  bottom: 3px;
  float: right;
  width: 1.25em;
  height: 1.25em;
  margin-left: 20px;
  vertical-align: top;
  border: 1px solid #dce0e0;
  background: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.aisdemo-filters #room_types .ais-RefinementList-checkbox:focus {
  outline: none;
}

.aisdemo-filters
  #room_types
  .ais-RefinementList-item--selected
  .ais-RefinementList-checkbox::before {
  font-size: 0.85em;
  position: absolute;
  width: 1.25em;
  content: '\2713';
  text-align: center;
  color: #ff5a5f;
}

.aisdemo-filters #price .ais-RangeSlider-target {
  margin: 30px 9px 18px;
}

.aisdemo-filters #price .ais-RangeSlider-handle {
  border-color: #ff585b;
}

.aisdemo-filters #price .rheostat-progress {
  background-color: #ff585b !important;
}

.aisdemo-filters #price .rheostat-tooltip {
  font-size: 0.8em;
}

/* STATS
// ------------------------- */
#stats {
  font-size: 1em;
  font-weight: normal;
  float: right;
  background: #fff;
  padding: 0px 7px;
  box-shadow: -2px -4px 10px #dcdcfe, 2px 7px 10px #dcdcfe;
}

/* MAP
// ------------------------- */
#map {
  height: 400px;
}

.ais-GeoSearch,
.ais-GeoSearch-map {
  height: 100%;
}

.ais-GeoSearch-reset {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #ff585b;
  color: #fff;
  padding: 5px;
  border-radius: 33px;
  font-size: 0.85em;
}

/* RESULTS
// ------------------------- */

#hits .ais-Hits-list {
  list-style: none;
}
#hits .ais-Hits-list .hit .pictures-wrapper {
  position: relative;
}
#hits .ais-Hits-list .hit .pictures-wrapper .picture {
  width: 100%;
}
#hits .ais-Hits-list .hit .pictures-wrapper .profile {
  position: absolute;
  bottom: -16px;
  right: 12px;
  width: 60px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
}
#hits .ais-Hits-list .hit .infos {
    height: 90px;
    padding: 6px 6px;
}
#hits .ais-Hits-list .hit .infos h4 {
  font-size: 1em;
  font-weight: normal;
}
#hits .ais-Hits-list .hit .infos p {
  font-size: 0.8em;
  color: #949697;
}
#hits .ais-Hits-list .hit .infos em {
  font-style: normal;
  color: #ff585b;
}

/* PAGINATION
// ------------------------- */
#pagination {
  text-align: center;
}
#pagination .ais-Pagination-list {
  justify-content: center;
  margin: 20px 0;
}
#pagination .ais-Pagination-item {
  display: inline-block;
  margin: 1px;
  padding: 3px;
}
#pagination .ais-Pagination-link {
  color: #40436f;
  border-radius: 4px;
  background: transparent;
}
#pagination .pagination > .active > a {
    color: #ffffff;
    border-color: #40436f;
    background: #40436f;
}
#pagination .pagination > li > a:focus,
#pagination .pagination > li > a:hover,
#pagination .pagination > li > span:focus,
#pagination .pagination > li > span:hover {
  color: #ffffff;
  border-color: #40436f;
  background: #40436f;
}



</style>