<legend>Mis Consultorios Registrados</legend>

<% @consulting_rooms.each do |consulting_room| %>
    <div class="card col-md-12 card-show">
      <div class="card-body">

         <div class="col-md-12 no-padding">
            <%= consulting_room.first_photo? ? image_tag(consulting_room.first_photo_url(), class: "img-not") : image_tag("https://dnuba.s3.amazonaws.com/uploads/bank_image/achivo/44/user.jpeg", class: "img-not")%>

            <hr>

            <div class="col-md-2 no-padding">
              <%= consulting_room.sub_photo? ? image_tag(consulting_room.sub_photo_url(), class: "img-not2") : image_tag("https://dnuba.s3.amazonaws.com/uploads/bank_image/achivo/44/user.jpeg", class: "img-not2")%>
            </div>

            <div class="col-md-2 no-padding float text-center">
              <%#= link_to 'Show', consulting_room %>
              <%= link_to edit_consulting_room_path(consulting_room), class: "btn btn-info" do %>
                <i class="fas fa-pencil-alt"></i>
              <% end -%>

              <%= link_to consulting_room, method: :delete, title: "Emilinar", data: {
                  confirm: '¿Estas Seguro?',
                  'confirm-button-text': 'Borrar',
                  'cancel-button-text': 'Cancelar',
                  'confirm-button-color': '#CC0000',
                   text: 'Recuerda que el registro se borrara permanentemente',
                  'image-url': ''}, class: "btn btn-danger" do %>
                <span class="glyphicon glyphicon-trash"></span> 
              <% end -%>

            </div>

         </div>
      </div>
    </div>
<% end -%>

            
          
<style type="text/css">
 
  .card-show{
    background: #f2f8f9;
    border-radius: 4px;
  }

  .img-not{
    height: 119px;
    border-radius: 91px;
    width: 127px;
  }

  .img-not2{
    height: 44px;
  }

  .float{
    float: right;
    background: white;
    padding: 5px;
    border-radius: 16px;

  }

  .btn-danger{
    border-radius: 50%;
  }

  .btn-info{
    border-radius: 50%;
  }

  .nGY2GThumbnailImage{
    width: 137.575px !important;
    height: 138.575px !important;
  }

</style>

