

<img src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/374/1.png" alt="" class="img-logo">
<p>Hola <%= @resource.email %>!</p>

<p>Se ha solicitado restablecer tu contraseña de Reemp, puedes hacerlo a través de este link.</p>

<div class="col-md-12 text-center">
	<%= link_to 'Cambiar contraseña', edit_password_url(@resource, reset_password_token: @token), class: "btn" %>
</div>

<p>Si tu no hiciste la solicitud ignora ese email.</p>


<style type="text/css" media="screen">

	.img-logo{
		width: 115px;
	}

	.btn{
		color: #fff;
		background: #5983e8;
		border-radius: 6px;
		padding: 10px;
		text-decoration: none;
	}

</style>